
<div class="scroll-container">
    <!-- <img src="1706591665576.jpg" class="hoverimg rounded" alt="Cinque Terre" width="600" height="400"> -->
    <!-- <img src="et00389637-fpqzbynbjj-landscape.avif" class="hoverimg" alt="Forest" width="600" height="400"> -->
    <img src="/assets/images/MovieImages/og.jpg" class="hoverimg" alt="Northern Lights" width="600" height="400">
    <img src="/assets/images/MovieImages/Saripodhaa-Sanivaaram.jpg" class="hoverimg" alt="Mountains" width="600" height="400">
    <!-- <img src="1706591665576.jpg" class="hoverimg rounded" alt="Cinque Terre" width="600" height="400"> -->
    <!-- <img src="et00389637-fpqzbynbjj-landscape.avif" class="hoverimg" alt="Forest" width="600" height="400"> -->
    <img src="/assets/images/MovieImages/og.jpg" class="hoverimg" alt="Northern Lights" width="600" height="400">
    <img src="/assets/images/MovieImages/Saripodhaa-Sanivaaram.jpg" class="hoverimg" alt="Mountains" width="600" height="400">
    <img src="/assets/images/MovieImages/og.jpg" class="hoverimg" alt="Northern Lights" width="600" height="400">
    <img src="/assets/images/MovieImages/Saripodhaa-Sanivaaram.jpg" class="hoverimg" alt="Mountains" width="600" height="400">
    <img src="/assets/images/MovieImages/og.jpg" class="hoverimg" alt="Northern Lights" width="600" height="400">
    <img src="/assets/images/MovieImages/Saripodhaa-Sanivaaram.jpg" class="hoverimg" alt="Mountains" width="600" height="400">
    <img src="/assets/images/MovieImages/og.jpg" class="hoverimg" alt="Northern Lights" width="600" height="400">
    <img src="/assets/images/MovieImages/Saripodhaa-Sanivaaram.jpg" class="hoverimg" alt="Mountains" width="600" height="400">
  </div>
  <div class="container">
  <!-- <div class="hero" style="background-image: url('images/hero_1.jpg');"></div> -->

  <div class="container mt-5">
    <h2 class="sc-7o7nez-0 cBoXnA">Recommended Movies</h2>
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="moviedta.html" >
        <div class="movie-card" href="/" style="max-height: 487px;">
          <div class="promoted">PROMOTED</div>
          <img src="/assets/images/MovieImages/Fno02SRaIAAM0eO.jpg" alt="Movie 1" style="max-height: 336px;">
          <div class="movie-info">
            <div class="movie-title" style="text-decoration: none;">They call him OG</div>
            <div class="movie-genre">Comedy</div>
            <div class="movie-rating"><span class="rating-star">★</span> 9.1/10 | 5.7K Votes</div>
          </div>
        </div>
    </a>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="gabbarsinghdetails.html" >
        <div class="movie-card" style="max-height: 487px;">
          <div class="promoted">PROMOTED</div>
          <img src="/assets/images/MovieImages/gabbar.JPG" alt="Movie 1" style="max-height: 336px;">
          <div class="movie-info">
            <div class="movie-title">Gabbar Singh</div>
            <div class="movie-genre">Commertial</div>
            <div class="movie-rating"><span class="rating-star">★</span> 9.1/10 | 5.7K Votes</div>
          </div>
        </div>
    </a>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="moviedta.html" >
        <div class="movie-card" style="max-height: 487px;">
          <div class="promoted">PROMOTED</div>
          <img src="/assets/images/MovieImages/Dhruva-First-Look-Poster-4.jpg" alt="Movie 1" style="max-height: 336px;">
          <div class="movie-info">
            <div class="movie-title">Dhruva</div>
            <div class="movie-genre">Action</div>
            <div class="movie-rating"><span class="rating-star">★</span> 9.1/10 | 5.7K Votes</div>
          </div>
        </div>
    </a>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="moviedta.html" >
        <div class="movie-card" style="max-height: 487px;">
          <div class="promoted">PROMOTED</div>
          <img src="/assets/images/MovieImages/Attarintiki-Daredi.webp" alt="Movie 1" style="max-height: 336px;">
          <div class="movie-info">
            <div class="movie-title">Attarintiki Daredhi</div>
            <div class="movie-genre">Commertial</div>
            <div class="movie-rating"><span class="rating-star">★</span> 9.1/10 | 5.7K Votes</div>
          </div>
        </div>
    </a>
      </div>

    </div>
    
    <div class="row mt-5">
      <h2 class="sc-7o7nez-0 cBoXnA">Comedy</h2>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="moviedta.html" >
        <div class="movie-card" style="max-height: 487px;">
          <div class="promoted">PROMOTED</div>
          <img src="/assets/images/MovieImages/jathiratnalu.jpg" alt="jathi rathalu" style="max-height: 336px;">
          <div class="movie-info">
            <div class="movie-title">Jathiratnalu</div>
            <div class="movie-genre">Comedy</div>
            <div class="movie-rating"><span class="rating-star">★</span> 9.1/10 | 5.7K Votes</div>
          </div>
        </div>
    </a>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="moviedta.html" >
        <div class="movie-card" style="max-height: 487px;">
          <div class="promoted">PROMOTED</div>
          <img src="/assets/images/MovieImages/mad.jpg" alt="Movie 1" style="max-height: 336px;">
          <div class="movie-info">
            <div class="movie-title">Mad</div>
            <div class="movie-genre">Comedy</div>
            <div class="movie-rating"><span class="rating-star">★</span> 9.1/10 | 5.7K Votes</div>
          </div>
        </div>
    </a>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="moviedta.html" >
        <div class="movie-card" style="max-height: 487px;">
          <div class="promoted">PROMOTED</div>
          <img src="/assets/images/MovieImages/MV5BNzkzYWVkOTYtODc5OS00ZjhlLThhY2UtZjY4ZGIyZWFhZWE4XkEyXkFqcGdeQXVyMTY3ODkyNDkz._V1_.jpg" alt="Movie 1" style="max-height: 336px;">
          <div class="movie-info">
            <div class="movie-title">Tillu 2</div>
            <div class="movie-genre">Comedy</div>
            <div class="movie-rating"><span class="rating-star">★</span> 9.1/10 | 5.7K Votes</div>
          </div>
        </div>
    </a>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="moviedta.html" >
        <div class="movie-card" style="max-height: 487px;">
          <div class="promoted">PROMOTED</div>
          <img src="/assets/images/MovieImages/keedacola.jpg" alt="Movie 1" style="max-height: 336px;">
          <div class="movie-info">
            <div class="movie-title">Keedacola</div>
            <div class="movie-genre">Comedy</div>
            <div class="movie-rating"><span class="rating-star">★</span> 9.1/10 | 5.7K Votes</div>
          </div>
        </div>
    </a>
      </div>

    </div>
    <div class="row mt-5">
      <h2 class="sc-7o7nez-0 cBoXnA">Action Movies</h2>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="moviedta.html" >
        <div class="movie-card" style="max-height: 487px;">
          <div class="promoted">PROMOTED</div>
          <img src="/assets/images/MovieImages/kaidhi.jpg" alt="Movie 1" style="max-height: 336px;">
          <div class="movie-info">
            <div class="movie-title">Kaidhi no.150</div>
            <div class="movie-genre">Action</div>
            <div class="movie-rating"><span class="rating-star">★</span> 9.1/10 | 5.7K Votes</div>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="moviedta.html" >
        <div class="movie-card" style="max-height: 487px;">
          <div class="promoted">PROMOTED</div>
          <img src="/assets/images/MovieImages/guntur-kaaram-ff8d11d6.jpg" alt="Movie 1" style="max-height: 336px;">
          <div class="movie-info">
            <div class="movie-title">Guntur Karam</div>
            <div class="movie-genre">Action</div>
            <div class="movie-rating"><span class="rating-star">★</span> 9.1/10 | 5.7K Votes</div>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="moviedta.html" >
        <div class="movie-card" style="max-height: 487px;">
          <div class="promoted">PROMOTED</div>
          <img src="/assets/images/MovieImages/SAAHO-BIKE-poster-FINAL.jpg" alt="Movie 1" style="max-height: 336px;">
          <div class="movie-info">
            <div class="movie-title">Saaho</div>
            <div class="movie-genre">Action</div>
            <div class="movie-rating"><span class="rating-star">★</span> 9.1/10 | 5.7K Votes</div>
          </div>
        </div>
    </a>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="moviedta.html" >
        <div class="movie-card" style="max-height: 487px;">
          <div class="promoted">PROMOTED</div>
          <img src="/assets/images/MovieImages/rrr-2022-09.jpg" alt="Movie 1" style="max-height: 336px;">
          <div class="movie-info">
            <div class="movie-title">RRR</div>
            <div class="movie-genre">Action</div>
            <div class="movie-rating"><span class="rating-star">★</span> 9.1/10 | 5.7K Votes</div>
          </div>
        </div>
    </a>
      </div>

    </div>
    <div class="row mt-5">
      <h2 class="sc-7o7nez-0 cBoXnA">Love Stories</h2>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="moviedta.html" >
        <div class="movie-card" style="max-height: 487px;">
          <div class="promoted">PROMOTED</div>
          <img src="/assets/images/MovieImages/sitaramam.avif" alt="Movie 1" style="max-height: 336px;">
          <div class="movie-info">
            <div class="movie-title">Sitaramam</div>
            <div class="movie-genre">Love Story</div>
            <div class="movie-rating"><span class="rating-star">★</span> 9.1/10 | 5.7K Votes</div>
          </div>
        </div>
    </a>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="moviedta.html" >
        <div class="movie-card" style="max-height: 487px;">
          <div class="promoted">PROMOTED</div>
          <img src="/assets/images/MovieImages/lovestory.jpg" alt="Movie 1" style="max-height: 336px;">
          <div class="movie-info">
            <div class="movie-title">Love Story</div>
            <div class="movie-genre">Love Story</div>
            <div class="movie-rating"><span class="rating-star">★</span> 9.1/10 | 5.7K Votes</div>
          </div>
        </div>
    </a>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="moviedta.html" >
        <div class="movie-card" style="max-height: 487px;">
          <div class="promoted">PROMOTED</div>
          <img src="/assets/images/MovieImages/MV5BNWRlYTFlYzgtMWM5My00Yzk2LTk5YTQtYzM5NGYyODQ4MTcyXkEyXkFqcGdeQXVyMTA3MDk2NDg2._V1_.jpg" alt="Movie 1" style="max-height: 336px;">
          <div class="movie-info">
            <div class="movie-title">Major</div>
            <div class="movie-genre">Love Story</div>
            <div class="movie-rating"><span class="rating-star">★</span> 9.1/10 | 5.7K Votes</div>
          </div>
        </div>
    </a>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="moviedta.html" >
        <div class="movie-card" style="max-height: 487px;">
          <div class="promoted">PROMOTED</div>
          <img src="/assets/images/MovieImages/rrr-2022-09.jpg" alt="Movie 1" style="max-height: 336px;">
          <div class="movie-info">
            <div class="movie-title">RRR</div>
            <div class="movie-genre">Love Story</div>
            <div class="movie-rating"><span class="rating-star">★</span> 9.1/10 | 5.7K Votes</div>
          </div>
        </div>
    </a>
      </div>

    </div>

  </div>
</div>